{% include 'header.html' %}



  <div class="content">
    <img width="500px" src="front.jpeg" alt="Haberes Buenos de Buly">
<div>
Cuando se encuentran los sefaradim, el saludo suele ser : Ke haber? O,  si son varios,  ke haber, haverim?, lo cual se traduciría como:  que noticias tienes?, como estás? Y, al despedirse  desearán: Haberes buenos, noticias buenas, 
<p>
Esa es la intención de este espacio en Español moderno : traer comentarios, noticias sobre la cultura sefaradí y judía en general; costumbres, creencias, historia, dichos, y lo que pueda interesar a los amigos de la comunidad. Espero sea de vuestro interés y les deseo: Haberes buenos!
</div>
<div>
Buly Hazan: bulyhazan@gmail.com
</div>

    <ul>
    {% for page in pages %}
       <li class="list-item"><a href="{{page.id}}">{{page.id}} - {{page.titulo}}</a></li>
    {% endfor %}
    </ul>
  </div>

{% include 'footer.html' %}
