{% include 'header.html' %}

  <div class="content">
    <audio controls>
      <source src="{{page.id}}.mp3" type="audio/mp3">
      Your browser does not support the audio element.
    </audio>

    {% for para in page.paragraphs %}
        <div>
        {{para}}
        </div>
    {% endfor %}

    <div class="content">
    <a class="button" href="{{page.prev_message}}">⬅️</a>
    <a class="button" href=".">⬆️</a>
    <a class="button" href="{{page.next_message}}">➡️</a>
    </div>
  </div>


{% include 'footer.html' %}
